
<!-- <suite name="TestSuite" parallel="tests"> -->
<suite name="TestSuite">


	<test name="Chrome Test">
		<parameters>
			<parameter name="browser" value="chrome" />
			<parameter name="version" value="ANY" />
			<parameter name="platform" value="WINDOWS" />
			<parameter name="url" value="https://demoqa.com/" />
		</parameters>
		<classes>
			<class name="Tests.ElementPageTest" />
			<class name="Tests.FormTest" />
			
		
		</classes>
	</test>
</suite>